<form nz-form>
    <nz-form-item>

        <nz-form-label [nzSpan]="2">VIN码</nz-form-label>
        <nz-form-control [nzSpan]="4">
            <app-vin [(vin)]="searchModel.vin" [(vid)]="searchModel.vid" platform="2"></app-vin>
        </nz-form-control>

        <nz-form-label [nzSpan]="2">起始时间</nz-form-label>
        <nz-form-control [nzSpan]="4">
            <nz-date-picker nzSize="small" [nzAllowClear]="false" [(ngModel)]="searchModel.dtb" name="searchModel.dtb" nzShowTime></nz-date-picker>
        </nz-form-control>

        <nz-form-label [nzSpan]="2">结束时间</nz-form-label>
        <nz-form-control [nzSpan]="4">
            <nz-date-picker nzSize="small" [nzAllowClear]="false" [(ngModel)]="searchModel.dte" name="searchModel.dte" nzShowTime></nz-date-picker>
        </nz-form-control>

        <nz-form-label [nzSpan]="2">状态</nz-form-label>
        <nz-form-control [nzSpan]="4">
            <nz-select nzSize="small" [nzAllowClear]="false" [(ngModel)]="form_state" name="form_state">
                <nz-option nzValue="-1" nzLabel="全部"></nz-option>
                <nz-option nzValue="0" nzLabel="未完成"></nz-option>
                <nz-option nzValue="1" nzLabel="已完成"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <div class="toolbar-area">
        <div class="toolbar-left">
            <button nz-button nzType="primary" (click)="showModal_add()">
                <i nz-icon class="ht-icon icon-toolbar-add"></i>
                <span>添加</span>
            </button>
        </div>
        <div class="toolbar-right">
            <button nz-button nzType="primary" (click)="loadDatas(true)">
                <i nz-icon class="ht-icon icon-toolbar-search"></i>
                <span>查找</span>
            </button>
            <button nz-button nzType="primary" (click)="reset()">
                <i nz-icon class="ht-icon icon-toolbar-reset"></i>
                <span>清空</span>
            </button>
        </div>
    </div>
</form>
<nz-table #dataTable nzShowSizeChanger [nzData]="dataList" [nzLoading]="loading" [(nzTotal)]="searchModel.total" [(nzPageIndex)]="searchModel.pagenum" [(nzPageSize)]="searchModel.pagesize" (nzPageIndexChange)="clearChoose()" (nzPageSizeChange)="clearChoose()"
    [nzScroll]="{x:'1000px'}" [nzShowTotal]="rangeTemplate">
    <thead>
        <tr>
            <th nzWidth="200px" nzLeft="0px">任务名称</th>
            <th>VIN码</th>
            <th>数据类型</th>
            <th>创建时间</th>
            <th>完成时间</th>
            <th>创建人</th>
            <th>任务状态</th>
            <th nzWidth="80px" nzRight="0px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataTable.data;let i=index" (click)="choose(data,i)" class="{{i==tr?'tr_color_change':'tr_color_nochange'}}">
            <td nzLeft="0px">{{data.tname}}</td>
            <td>{{data.vin}}</td>
            <td>{{data.flagStr}}</td>
            <td>{{data.sysTimeStr}}</td>
            <td>{{data.overTimeStr}}</td>
            <td>{{data.uname}}</td>
            <td>{{data.stateStr}}</td>
            <td nzRight="0px">
                <button [disabled]="data.state==0" nz-button nzType="primary" (click)="downLoad(data)">
                    <i nz-icon class="ht-icon icon-toolbar-download"></i>
                    <span>下载</span>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
    第{{range[0]}}-{{range[1]}}条 共{{total}}条
</ng-template>
<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="isVisible_add" nzTitle="添加" (nzOnCancel)="isVisible_add=false" [nzFooter]="modalFooter_add">
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="8">*&nbsp;任务名称</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <input nz-input nzSize="small" [(ngModel)]="dataModel.tname" name="dataModel.tname">
            </nz-form-control>

            <nz-form-label [nzSpan]="8">*&nbsp;VIN</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <app-vin [(vin)]="dataModel.vin" [(vid)]="dataModel.vid" platform="2"></app-vin>
            </nz-form-control>

            <nz-form-label [nzSpan]="8">*&nbsp;起始时间</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-date-picker nzSize="small" [nzAllowClear]="false" [(ngModel)]="dataModel.dtb" name="dataModel.dtb" nzShowTime></nz-date-picker>
            </nz-form-control>

            <nz-form-label [nzSpan]="8">*&nbsp;结束时间</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-date-picker nzSize="small" [nzAllowClear]="false" [(ngModel)]="dataModel.dte" name="dataModel.dte" nzShowTime></nz-date-picker>
            </nz-form-control>

            <nz-form-label [nzSpan]="8">*&nbsp;数据类型</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-select nzSize="small" [nzAllowClear]="false" [(ngModel)]="dataModel.flag" name="dataModel.flag">
                    <nz-option nzValue="1" nzLabel="位置信息数据"></nz-option>
                    <nz-option nzValue="2" nzLabel="事件数据"></nz-option>
                    <nz-option nzValue="3" nzLabel="统计数据"></nz-option>
                    <nz-option nzValue="4" nzLabel="车速和发动机转速各分段数据"></nz-option>
                    <nz-option nzValue="5" nzLabel="油门开度各分段数据"></nz-option>
                    <nz-option nzValue="6" nzLabel="灯具数据"></nz-option>
                    <nz-option nzValue="7" nzLabel="开关项数据"></nz-option>
                    <nz-option nzValue="8" nzLabel="后视镜调整开关数据"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
    <ng-template #modalFooter_add>
        <button nz-button nzType="primary" (click)="isVisible_add=false">
            <i nz-icon class="ht-icon icon-toolbar-cancel"></i>取消
        </button>
        <button nz-button nzType="primary" (click)="handleOk_add()">
            <i nz-icon class="ht-icon icon-toolbar-save"></i>保存
        </button>
    </ng-template>
</nz-modal>