<form nz-form class="searchbar">
    <nz-form-item>
        <nz-form-label nzSpan="2">用户姓名</nz-form-label>
        <nz-form-control nzSpan="4">
            <input nz-input [(ngModel)]="search.string1" name="search.string1" />
        </nz-form-control>
    </nz-form-item>
</form>
<div class="toolbar">
    <div class="toolbar-left">
        <button nz-button (click)="showModalAdd()"><i nz-icon nzType="plus-circle" nzTheme="twotone" nzTwotoneColor="green"></i>添加</button>
    </div>
    <div class="toolbar-right">
        <button nz-button (click)="getData()"><i nz-icon nzType="filter" nzTheme="twotone" nzTwotoneColor="green"></i>查找</button>
        <button nz-button (click)="reset()"><i nz-icon nzType="interaction" nzTheme="twotone" nzTwotoneColor="blue"></i>清空</button>
    </div>
</div>
<nz-table #dataTable [nzData]="dataList" nzShowSizeChanger="true" [(nzPageIndex)]="search.pageNum" [nzShowTotal]="rangeTemplate" [nzLoading]="loading">
    <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>账号</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataTable.data">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.account}}</td>
            <td>
                <span *ngIf="data.state==1" style="color: green;">正常</span>
                <span *ngIf="data.state==2" style="color: red;">停用</span>
            </td>
            <td>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu">操作<i nz-icon nzType="down"></i></button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item (click)="showModalEdit(data)">修改</li>
                        <li nz-menu-item *ngIf="data.state==1" (click)="setState(data,2)">账号停用</li>
                        <li nz-menu-item *ngIf="data.state==1" (click)="setPassword(data)">重置密码</li>
                        <li nz-menu-item *ngIf="data.state==2" (click)="setState(data,1)">账号启用</li>
                        <li nz-menu-item (click)="delete(data)">删除</li>
                    </ul>
                </nz-dropdown-menu>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
    第{{range[0]}}-{{range[1]}}条 共{{total}}条
</ng-template>

<nz-modal [(nzVisible)]="isVisibleAdd" nzTitle="添加" (nzOnCancel)="isVisibleAdd=false" [nzFooter]="modalFooterAdd">
    <div nz-row>
        <div nz-col nzSpan="16">
            <form nz-form>
                <nz-form-item>
                    <nz-form-label nzSpan="6">姓名</nz-form-label>
                    <nz-form-control nzSpan="14">
                        <input nz-input [(ngModel)]="addModel.name" name="addModel.name">
                    </nz-form-control>
                    <nz-form-label nzSpan="6">账号</nz-form-label>
                    <nz-form-control nzSpan="14">
                        <input nz-input [(ngModel)]="addModel.account" name="addModel.account">
                    </nz-form-control>
                    <nz-form-label nzSpan="6">密码</nz-form-label>
                    <nz-form-control nzSpan="14">
                        <input nz-input [(ngModel)]="addModel.password" name="addModel.password">
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div nz-col nzSpan="8" style="height:270px;line-height:30px;overflow-y:scroll;">
            <div *ngFor="let item of roles">
                <label nz-checkbox [(ngModel)]="item._select">{{item.name}}</label>
            </div>
        </div>
    </div>
    <ng-template #modalFooterAdd>
        <button nz-button (click)="isVisibleAdd=false"><i nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="blue"></i>取消</button>
        <button nz-button (click)="handleOkAdd()"><i nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="green"></i>保存</button>
    </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleEdit" nzTitle="修改" (nzOnCancel)="isVisibleEdit=false;getData()" [nzFooter]="modalFooterEdit">
    <div nz-row>
        <div nz-col nzSpan="16">
            <form nz-form>
                <nz-form-item>
                    <nz-form-label nzSpan="6">姓名</nz-form-label>
                    <nz-form-control nzSpan="14">
                        <input nz-input [(ngModel)]="editModel.name" name="editModel.name">
                    </nz-form-control>
                    <nz-form-label nzSpan="6">账号</nz-form-label>
                    <nz-form-control nzSpan="14">{{editModel.account}}</nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div nz-col nzSpan="8" style="height:270px;line-height:30px;overflow-y:scroll;">
            <div *ngFor="let item of roles">
                <label nz-checkbox [(ngModel)]="item._select">{{item.name}}</label>
            </div>
        </div>
    </div>
    <ng-template #modalFooterEdit>
        <button nz-button (click)="isVisibleEdit=false;getData()"><i nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="blue"></i>取消</button>
        <button nz-button (click)="handleOkEdit()"><i nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="green"></i>保存</button>
    </ng-template>
</nz-modal>