<div>
  <button nz-button nzType="primary" (click)="sendNormalCtrlCmd(3)">终端关机</button>
  <button nz-button nzType="primary" (click)="sendNormalCtrlCmd(4)">终端复位</button>
  <button nz-button nzType="primary" (click)="sendNormalCtrlCmd(5)">终端恢复出厂设置</button>
  <button nz-button nzType="primary" (click)="sendNormalCtrlCmd(6)">关闭数据通信</button>
  <button nz-button nzType="primary" (click)="sendNormalCtrlCmd(7)">关闭所有无线通信</button>
</div>
<nz-divider></nz-divider>
<div>

  <div class="rm-update">
    <button nz-button nzType="primary" (click)="sendUpCtrlCmd()">无线升级</button>
    <ng-container *ngFor="let item of updata">
       <span class="item">
          <span class="title">
            {{item.title}}：
          </span>
          <span class="value">
            <input nz-input [(ngModel)]="item.val">
          </span>
      </span>
    </ng-container>

  </div>
  <div class="rm-link">
    <button nz-button nzType="primary" (click)="sendLinkCtrlCmd()">控制终端连接指定服务器</button>
    <ng-container *ngFor="let item of linkdata">
       <span class="item">
          <span class="title">
            {{item.title}}：
          </span>
          <span class="value">
            <input nz-input [(ngModel)]="item.val">
          </span>
      </span>
    </ng-container>

  </div>

</div>
