body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: "微软雅黑";
}

.divide-line {
    width: 100%;
    height: 1px;
    background: #363c90;
    margin: 20px 0;
}

.panel-title {
    padding: 10px 0 5px 0;
}

.encmap {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 400px;
    padding-right: 300px;
}

.enc_panel {
    width: 400px;
    padding: 24px;
    background-color: #031e47;
    position: absolute;
    right: 0;
    top: 90px;
    bottom: 0;
    overflow-y: scroll;
}

.edit_box {
    display: block;
    border-left: 1px solid #363c90;
    width: 390px;
    background-color: #031e47;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: scroll;
    padding: 24px;
    z-index: 2;
}