<div nz-row class="dashboard-wrapper">
    <div nz-col nzSpan="6">
        <div class="dashboard-panel dashboard-1">
            <div echarts [options]="chart1Option"></div>
        </div>
        <div class="dashboard-panel dashboard-6">
            <div echarts [options]="chart6Option"></div>
        </div>
        <div class="dashboard-panel dashboard-3">
            <div echarts [options]="chart3Option"></div>
        </div>
        <div class="dashboard-panel dashboard-8">
            <div echarts [options]="chart8Option"></div>
        </div>
    </div>
    <div nz-col nzSpan="12">
        <div class="dashboard-panel dashboard-9">
            <div echarts [options]="chart9Option"></div>
        </div>
        <div class="dashboard-panel dashboard-0">
            <div class="dashboard-0-btns">
                <div class="dashboard-0-btn" *ngFor="let item of activeMapOptions" [ngClass]="{'dashboard-0-btn-active': activeMap==item}" (click)="mapChange(item)">{{item.label}}</div>
            </div>
            <div echarts [options]="chart0Option" (chartInit)="onChartInit($event)"></div>
        </div>
        <div class="dashboard-panel dashboard-10">
            <div echarts [options]="chart10Option"></div>
        </div>
        <div class="dashboard-panel dashboard-11">
            <div echarts [options]="chart11Option"></div>
        </div>
    </div>
    <div nz-col nzSpan="6">
        <div class="dashboard-panel dashboard-5">
            <div echarts [options]="chart5Option"></div>
        </div>
        <div class="dashboard-panel dashboard-2">
            <div echarts [options]="chart2Option"></div>
        </div>
        <div class="dashboard-panel dashboard-7">
            <div echarts [options]="chart7Option"></div>
        </div>
        <div class="dashboard-panel dashboard-4">
            <div echarts [options]="chart4Option"></div>
        </div>
    </div>
</div>