<form nz-form class="searchbar">
    <nz-form-item>
        <nz-form-label nzSpan="2">VIN</nz-form-label>
        <nz-form-control nzSpan="4">
            <app-vin [(vin)]="searchModel.vin" [(vid)]="searchModel.vid" platform="1"></app-vin>
        </nz-form-control>

        <nz-form-label nzSpan="2">日期</nz-form-label>
        <nz-form-control nzSpan="4">
            <nz-month-picker nzAllowClear="false" [(ngModel)]="searchModel.dateStart" name="searchModel.dateStart"></nz-month-picker>
        </nz-form-control>
    </nz-form-item>
</form>
<div class="toolbar">
    <div class="toolbar-left"></div>
    <div class="toolbar-right">
        <button nz-button (click)="getData(true)"><i nz-icon nzType="filter" nzTheme="twotone" nzTwotoneColor="green"></i>查找</button>
        <button nz-button (click)="reset()"><i nz-icon nzType="interaction" nzTheme="twotone" nzTwotoneColor="blue"></i>清空</button>
    </div>
</div>
<nz-table #dataTable [nzData]="dataList" nzFrontPagination="true" nzShowSizeChanger="true" [nzShowTotal]="rangeTemplate" [nzLoading]="loading" [(nzPageIndex)]="searchModel.pageNum" [(nzPageSize)]="searchModel.pageSize">
    <thead>
        <tr>
            <th>VIN</th>
            <th>当月ODO里程(km)</th>
            <th>累计里程(km)</th>
            <th>车辆添加时间</th>
            <th>明细</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataTable.data">
            <td>{{data.vin}}</td>
            <td>{{data.mil}}</td>
            <td>{{data.odo}}</td>
            <td>{{data.attime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><button nz-button (click)="getDataModal1(data)"><i nz-icon nzType="eye" nzTheme="twotone" nzTwotoneColor="yellow"></i>明细</button></td>
        </tr>
    </tbody>
</nz-table>
<ng-template #rangeTemplate let-range="range" let-total>
    第{{range[0]}}-{{range[1]}}条 共{{total}}条
</ng-template>

<nz-modal [(nzVisible)]="isVisibleModal1" nzTitle="ODO里程明细" (nzOnCancel)="isVisibleModal1=false" [nzFooter]="modalFooterOdoMile">
    <nz-table #odoMileTable [nzData]="dataListModal1" [(nzPageIndex)]="pageNumModal1">
        <thead>
            <tr>
                <th>VIN</th>
                <th>当日ODO里程(km)</th>
                <th>累计里程(km)</th>
                <th>日期</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of odoMileTable.data">
                <td>{{data.vin}}</td>
                <td>{{data.mil}}</td>
                <td>{{data.odo}}</td>
                <td>{{data.attime|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #modalFooterOdoMile>
        <button nz-button (click)="isVisibleModal1=false"><i nz-icon nzType="left-circle" nzTheme="twotone" nzTwotoneColor="blue"></i>返回</button>
    </ng-template>
</nz-modal>