/*车辆详细信息布局*/
.panel{
  position: absolute;
  top:10px;
  bottom:10px;
  left:10px;
  width: 420px;
  border: solid 1px #1e7ab3;
  background-color: rgba(03,30,71,0.8);
  padding: 15px 10px;
}

.divider{
  font-size: 12px;
  margin: 6px 0 4px;
  color: aquamarine
}
.head{

}

.iov-close{
  float: right;
}

.body{
  width: 100%;
}

.menu{
  float: left;
  width: 30px;
  background-color: blue;
}
.content{
  margin-left: 31px;
  background-color: green;
}
