<form nz-form>
    <nz-form-item>
        <nz-form-label nzSpan="2">旧密码</nz-form-label>
        <nz-form-control nzSpan="4">
            <input nz-input type="password" [(ngModel)]="accountModel.password" name="accountModel.password" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSpan="2">新密码</nz-form-label>
        <nz-form-control nzSpan="4">
            <input nz-input type="password" [(ngModel)]="accountModel.newPassword" name="accountModel.newPassword" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSpan="2">确认密码</nz-form-label>
        <nz-form-control nzSpan="4">
            <input nz-input type="password" [(ngModel)]="accountModel.confirmPassword" name="accountModel.confirmPassword" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control nzSpan="4" nzOffset="2">
            <button nz-button (click)="save()"><i nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="green"></i>保存</button>
        </nz-form-control>
    </nz-form-item>
</form>