<div class="login-bg">
    <div class="login-logo">
        <img src="{{configService.config.web_logo}}">
    </div>
    <div class="login-wrapper">
        <div class="login-earth"></div>
        <div class="login-form">
            <form nz-form>
                <nz-form-item style="margin-bottom:10px;">欢迎登录</nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzPrefix]="platform">
                            <nz-select style="text-indent:18px;" [(ngModel)]="accountModel.platform" nzPlaceHolder="请选择登录平台" name="accountModel.platform">
                                <nz-option *ngFor="let item of dictionary.platform" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                            </nz-select>
                        </nz-input-group>
                        <ng-template #platform><i nz-icon nzType="apartment"></i></ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzPrefix]="user">
                            <input type="text" nz-input placeholder="请输入用户名称" [(ngModel)]="accountModel.account" name="accountModel.username" />
                        </nz-input-group>
                        <ng-template #user><i nz-icon nzType="user"></i></ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group [nzPrefix]="lock">
                            <input type="password" nz-input placeholder="请输入用户密码" [(ngModel)]="accountModel.password" name="accountModel.password" />
                        </nz-input-group>
                        <ng-template #lock><i nz-icon nzType="lock"></i></ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group>
                            <input type="text" nz-input placeholder="验证码" style="width:100px;" [(ngModel)]="accountModel.code" name="accountModel.code" />
                            <canvas #codeCanvas width="100px" height="24px" (click)="createCode()"></canvas>
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button style="width:100%;" [nzLoading]="isLoading" (click)="login()">登录</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
</div>