<app-card [ngStyle]="mstyle" *ngIf="data">
  <header>
    OBD-iupr实时数据
  </header>

  <content>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,0).title" [value]="calcIupr(data.iupr,0).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,1).title" [value]="calcIupr(data.iupr,1).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,2).title" [value]="calcIupr(data.iupr,2).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,3).title" [value]="calcIupr(data.iupr,3).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,4).title" [value]="calcIupr(data.iupr,4).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,5).title" [value]="calcIupr(data.iupr,5).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,6).title" [value]="calcIupr(data.iupr,6).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,7).title" [value]="calcIupr(data.iupr,7).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,8).title" [value]="calcIupr(data.iupr,8).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,9).title" [value]="calcIupr(data.iupr,9).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,10).title" [value]="calcIupr(data.iupr,10).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,11).title" [value]="calcIupr(data.iupr,11).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,12).title" [value]="calcIupr(data.iupr,12).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,13).title" [value]="calcIupr(data.iupr,13).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,14).title" [value]="calcIupr(data.iupr,14).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,15).title" [value]="calcIupr(data.iupr,15).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,16).title" [value]="calcIupr(data.iupr,16).val"></app-label-text>
    <app-label-text [lbSize]="iuprLbsize" [label]="calcIupr(data.iupr,17).title" [value]="calcIupr(data.iupr,17).val"></app-label-text>

  </content>
</app-card>
